/venv
__pycache__/

# pycharm ide
.idea/

# vscode config
.vscode/

# twitter keys
twitter_keys.py

# firebase-credentials
firebase_credentials.json

#sqlite3
db.sqlite3

#ignore constants
constants.py