{% load static %}
<!DOCTYPE html>

<html lang="pt">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Início</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'css/google-fonts-css-0.css' %}" rel="stylesheet">
    <link href="{% static 'css/google-fonts-css-1.css' %}" rel="stylesheet">

    <!-- css for material -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">

    <!-- Custom css for this template-->
    <link href="{% static 'css/layout.css' %}" rel="stylesheet">

  </head>

  <body>
    {% include 'profiles/navbar.html' %}
    <!-- Navigation -->
    <div class="container content">
      <!-- Content-->
      <header class="masthead text-left text-white align-items-center">
        {% block content %}
        {% endblock %}
      </header>
    </div>

  </body>

  <!-- JavaScript core -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>

</html>
