{% extends 'profiles/layout.html' %}

{% block content %}
<div class="row">
    <div class="col-md-7">
        <div class="masthead-content">
         <div class="container">
           <h1 class="masthead-heading mb-0">Bem-vindo</h1>
           <h2 class="masthead-subheading mb-0"></h2>
           <a href="#" class="btn btn-xl rounded-pill mt-5">Learn More</a>
          </div>
        </div>
    </div>
    <div class="col-md-5">
      {% include "accounts/forms/loginForm.html" %}
    </div>
</div>
{% endblock %}