{% extends 'profiles/layout.html' %}

{% block content %}
  {% if not user.is_authenticated %}
    <div class="row cen">
        <div class="col-md-7">
            <div class="masthead-content">
            <div class="container">
              <h1 class="masthead-heading mb-0">Bem-vindo</h1>
              <a href="/sobre/" class="btn btn-xl rounded-pill mt-5">Saber mais</a>
              </div>
            </div>
        </div>
        <div class="col-md-5">
          {% include "accounts/forms/loginForm.html" %}
        </div>
    </div>
  {% else %}
    {% include 'profiles/pages/classification.html' %}
  {% endif %}
{% endblock %}
